<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <meta charset = "UTF-8">
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center; margin-top: 50px;" >
        <form action="" method="get">
            <div class="form-group" style="text-align: center;">
                <div class="row">
                    <div class="col-md-6">
                        <label>¿Dime tu edad?</label>
                        <select name="Age"  class="form-control", id="Age">
                            <option value="menor">Menor de edad</option>
                            <option value="mayor" selected>Mayor de edad</option>
                            <option value="todasEdadesapar8" selected>Todas las edades apartir de los 8 años</option>
                            <option value="default">Default</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>¿Cuanto tiene para gastar?</label>
                        <select name="Economy"  class="form-control" id="Economy">
                            <option value="default">Default</option>
                            <option value="menor50">Menor de 50k</option>
                            <option value="entre50y150" selected>Entre 50k y 150k</option>
                            <option value="mayor150" selected>mayor de 150k</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>¿Donde se encuentra?</label>
                        <select name="Zone"  class="form-control" id="Zone">
                            <option value="default">Default</option>
                            <option value="Comuna1">Comuna 1 - Popular </option>
                            <option value="Comuna2">Comuna 2 - Santa cruz </option>
                            <option value="Comuna3">Comuna 3 - Manrique</option>
                            <option value="Comuna4">Comuna 4 - Aranjuez </option>
                            <option value="Comuna5">Comuna 5 - Castilla </option>
                            <option value="Comuna9">Comuna 9 - Buenos Aires </option>
                            <option value="Comuna10">Comuna 10 - La Candelaria </option>
                            <option value="Comuna11">Comuna 11 - Laureles, Estadio </option>
                            <option value="Comuna13">Comuna 13 - San Javier </option>
                            <option value="Comuna14">Comuna 14 - Poblado </option>
                            <option value="Envigado">Envigado</option>
                            <option value="Guatape">Guatapé </option>
                            <option value="Itagui">Itagui </option>
                            <option value="Jardin">Jardin </option>
                            <option value="LaEstrella">La Estrella</option>
                            <option value="Sabaneta">Sabaneta </option>  
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>¿Que quiere hacer?</label>
                        <select name="Category"  class="form-control" id="Category">
                            <option value="default">Default</option>
                            <option value="Centro Comercial" selected>Centro Comercial</option>
                            <option value="Discoteca">Discoteca</option>
                            <option value="Mirador" selected>Mirador</option>
                            <option value="Museo" selected>Museo</option>
                            <option value="Parche al aire libre" selected>Parche al aire libre</option>
                            <option value="Restaurante" selected>Restaurante</option>
                            <option value="Tour" selected>Tour</option>
                        </select> 
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    <br>
    {% if lugares%}
        {% if lugares.edad == Age %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for lugar in lugares %}
            <div v-for='lugar in lugares' class="col">
                <div class="card">
                    <img  class="card-img-top" src="{{lugar.foto.url}}">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{lugar.nombre}}</h5>
                        </a>
                        <b>Breve Descripcion:</b>
                        <p class="card-text">{{lugar.descripcion}}</p>
                        <b>Economia:</b>
                        <p class="card-text">{{lugar.LvlEconomico}}</p>
                        <b>Ubicacion</b>
                        <p class="card-text">{{lugar.Zona}}</p>
                        <b>Disponible para</b>
                        <p class="card-text">{{lugar.Edad}}</p>
                        <b>Ubicacion en google maps:</b>
                    </div>

                    <button type="button" class="mt-5 mx-5 mb-5 btn btn-primary">
                        <a href={{lugar.urlMapa}} class="text-white" style="text-decoration: none">Ubicación</a>   
                    </button>
                    <div class="card-body">
                        <b>Calificacion</b>
                        
                        <button type="button" class="mt-5 mx-5 btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal">Mas Info</button>
                        <div class="modal fade" id="miModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Breve Descripcion:</b>
                                        <p class="card-text">{{lugar.descripcion}}</p>
                                        <b>Economia:</b>
                                        <p class="card-text">{{lugar.LvlEconomico}}</p>
                                        <b>Ubicacion</b>
                                        <p class="card-text">{{lugar.Zona}}</p>
                                        <b>Disponible para</b>
                                        <p class="card-text">{{lugar.edad}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        {% endif %}
        </div>
    {% else %}
        <h1>NO HAY LUGARES CON ESAS ESPECIFICACIONES</h1>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock content %}
</body>
</html>